.crossfade > figure{
animation: imageAnimation 30s linear infinite 0s;
background-size: cover;
background-position: center left;
color: transparent;
width: 100%;
height: 100%;
left: 0px;
opacity: 0;
position: absolute;
top: 0px;
margin: 0;
padding: 0;
z-index: 0;
}

.crossfade > figure:nth-child(1) {background-image: url('/images/black-face-graze.jpeg'); }
.crossfade > figure:nth-child(2) {animation-delay: 5s; background-image: url('/images/black-face-stare.jpeg'); }
.crossfade > figure:nth-child(3) {animation-delay: 10s; background-image: url('/images/black-face-stare2.jpeg'); }
.crossfade > figure:nth-child(4) {animation-delay: 15s; background-image: url('/images/black-face-startle.jpeg'); }
.crossfade > figure:nth-child(5) {animation-delay: 20s; background-image: url('/images/black-face-run.jpeg'); }

@keyframes 
imageAnimation {  0% {
 animation-timing-function: ease-in;
 opacity: 0;
}
 8% {
 animation-timing-function: ease-out;
 opacity: 0.5;
}
 17% {
 opacity: 0.5;
}
 25% {
 opacity: 0;
}
 100% {
 opacity: 0;}}


/*Code for crossfading background: https://www.cssscript.com/css-only-crossfading-background-slideshow/*/


html, body.portfolio-display div a{
	background-color: transparent;
	font-size: 11px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #000000;
    text-decoration: none;
    list-style-type: none;
}

body.portfolio-display #wrapper.left_side_vertical #nav {
    top:0;
    left:0;
    margin-right: 5rem;
    position:fixed;
    background:transparent;
    width:168px;
    height:100%;
    padding:48px 20px 0px 20px;}

.btn-link {
    text-decoration: none;
    border: none !important;
    outline: none!important; 
    background-color: transparent;
    color: black;
    font-weight: bold;
    justify-content: left;
    position: relative;
}

.btn-link:hover,
.btn-link:active,
.btn-link:focus {
    text-decoration: none;
    color: grey;
    border: none;
    border: none !important;
    outline: none!important;
}
.card-body ul li a{
        background-color: transparent;
        line-height: normal;
}

.card-header{
    border: none;
    background-color: transparent;
}

.card-header :hover 
.card-header :active
.card-header :focus{
    border: none !important;
    outline: none !important;
}

.card-body ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: x-small;
    line-height: 2.5;
    justify-content: center;
}

.card-body :hover {
    color: grey;
    text-decoration: none;
    list-style-type: none;
}


p .info {
    justify-content: left;
    margin-left: 0rem;
    padding-left: 0rem;
    margin-top: 1rem;
    margin-bottom: 5rem;  
}

.about{
    height: 200px;
   overflow: auto;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


.card {
  background-color: transparent;
  border: none;
  color: #000;
  margin-left: 0;
}


 .container-fluid {
    margin:30px 10px 10px 150px;
    padding-bottom: 0px;
    display:inline;
    float:left;
    position: fixed;
    width:auto;
    height: 90%;
    overflow-y:scroll;
}

.media_info {
    font-size: x-small;
    line-height: 1.2;
}

.copyright{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    justify-content:center ;
    font-size: xx-small;
    position: fixed;
    margin-top: 10px;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    color: black;
    opacity: 0.6;
}

.nav-link:focus{
    color:black;
    outline: 0;
}


