html,body.portfolio-display div a{
	background-color: #FFFFFF;
	font-size: 11px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #000000;
    text-decoration: none;
    list-style-type: none;
}

body.portfolio-display #wrapper.left_side_vertical #nav {
    top:0;
    left:0;
    position:fixed;
    background:#fff;
    width:168px;
    height:100%;
    padding:48px 0px 0 20px;
    margin:0;
    

}


.btn-link {
    text-decoration: none;
    border: none !important;
    outline: none!important; 
    background-color: none;
    color: black;
    font-weight: bold;
    justify-content: left;
    align-items: left;

}

.btn-link:hover,
.btn-link:active,
.btn-link:focus {
    text-decoration: none;
    color: grey;
    border: none;
    border: none !important;
    outline: none!important;
}

.card-header :hover 
.card-header :active
.card-header :focus{
    border: none !important;
    outline: none !important;
}
.card-header{
    border: none;
    background-color: transparent;
}

.card-body ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: left;
    align-items: left;
}

.card-body :hover {
    color: grey;
    text-decoration: none;
    list-style-type: none;
}

 p .info {
    justify-content: left;
    margin-left: 0rem;
    padding-left: 0rem;
}

.card {
  background-color: transparent;
  border: none;
  color: #000;
  margin-left: 0;
  position: relative;
}

 .container-fluid {
    margin:48px 0px 16px 240px;
    display:inline;
    float:left;
    position:relative;
    width:960px;}

    
  .container-fluid .media{
    padding-right:48px;
    display:table-cell;
    position:relative;
    vertical-align:top;}

.scrolling-wrapper{
	overflow-x: auto;
}

.img-fluid {
  max-width: 900px;
  height:auto;
  padding-right:150px;
  margin-right: 0;
  vertical-align:top;
}

.col-5 {
      padding-right:150px;
      margin-right: 300px;
      margin: 400px;
      margin-left:10px;
      margin-top: 0;
      margin-bottom: 0;

}
    /*---- Copyright ----*/
    
.copyright{
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    justify-content: center;
    margin-left: 70px;
    font-size: xx-small;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    color: black;
    opacity: 0.6;
}

.nav-link:focus{
    color:black;
    outline: 0;
}
