.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  background-size: cover;
  background-position: center left;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 0;
}

.crossfade > figure:nth-child(1) { background-image: url('/images/black-face-graze.jpeg'); }
.crossfade > figure:nth-child(2) { animation-delay: 5s; background-image: url('/images/black-face-stare.jpeg'); }
.crossfade > figure:nth-child(3) { animation-delay: 10s; background-image: url('/images/black-face-stare2.jpeg'); }
.crossfade > figure:nth-child(4) { animation-delay: 15s; background-image: url('/images/black-face-startle.jpeg'); }
.crossfade > figure:nth-child(5) { animation-delay: 20s; background-image: url('/images/black-face-run.jpeg'); }

@keyframes 
imageAnimation {  0% {
 animation-timing-function: ease-in;
 opacity: 0;
}
 8% {
 animation-timing-function: ease-out;
 opacity: 0.5;
}
 17% {
 opacity: 0.5;
}
 25% {
 opacity: 0;
}
 100% {
 opacity: 0;}}

html, body.portfolio-display div a{
	background-color: #FFFFFF;
	font-size: 11px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #000000;
    text-decoration: none;
    list-style-type: none;
}

body.portfolio-display #wrapper.left_side_vertical #nav {
    top:0;
    left:0;
    position:fixed;
    background:#fff;
    width:168px;
    height:100%;
    padding:48px 20px 0px 20px;
}

.btn-link {
    text-decoration: none;
    border: none !important;
    outline: none!important; 
    background-color: none;
    color: black;
    font-weight: bold;
    justify-content: left;
    position: relative;
}

.btn-link:hover,
.btn-link:active,
.btn-link:focus {
    text-decoration: none;
    color: grey;
    border: none;
    border: none !important;
    outline: none!important;
}

.card-header{
    border: none;
    background-color: transparent;
}

.card-header :hover 
.card-header :active
.card-header :focus{
    border: none !important;
    outline: none !important;
}

.card-body ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-body :hover {
    color: grey;
    text-decoration: none;
    list-style-type: none;
}

 p .info {
    justify-content: left;
    margin-left: 0rem;
    padding-left: 0rem;
    margin-top: 1rem;
}
.card {
  background-color: transparent;
  border: none;
  color: #000;
  margin-left: 0;
}

 .container-fluid {
    margin:48px 0px 16px 240px;
    display:inline;
    float:left;
    position:relative;
    width:960px;
}

    
  .container-fluid .media{
    padding-right:48px;
    display:table-cell;
    position:relative;
    vertical-align:top;}

.scrolling-wrapper{
    overflow-x: auto;
    scrollbar-darkshadow-color: transparent;
}

.img-fluid {
  max-width: 900px;
  height:auto;
  padding-right:150px;
  margin-right: 0;
  vertical-align:top;
}

.col-5 {
      padding-right:150px;
      margin-right: 300px;
      margin: 400px;
      margin-left:10px;
      margin-top: 0;
      margin-bottom: 0;

}

    /*---- Copyright ----*/
    
.copyright{
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    justify-content: center;
    margin-left: 25rem;
    font-size: xx-small;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    color: black;
    opacity: 0.6;
}

.nav-link:focus{
    color:black;
    outline: 0;
}
